:root {
    --dark-blue: #003049;
    --red: #d62828;
    --orange: #f77f00;
    --yellow: #fcbf49;
    --sand: #eae2b7;
    --grey: #f9f9f9;
    --light-blue: #0a547d;
    --light-grey: #ddd;
}
body {
    font-family: 'Merriweather', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
    color: var(--dark-blue);
}
h2 {
    font-size: 24px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h2 {
        font-size: 30px;
    }
    section {
        padding: 2.5rem 0;
    }
    section:first-of-type {
        padding-top: 5rem;
    }
    section:last-of-type {
        padding-bottom: 5rem;
    }
}

.wrapper {
    /* max-width: 1250px; */
    max-width: 1500px;
    margin: auto;
    /* border: 1px solid red; */
    padding: 0 2rem;
    overflow: auto;
}

section {
    padding: 1.5rem 0;
}
section:first-of-type {
    padding-top: 3rem;
}
section:last-of-type {
    padding-bottom: 3rem;
}

/* See more link */
.see-more {
    margin-top: 15px;
    width: max-content;
    text-decoration: none;
    display: inline-block;
    color: var(--dark-blue);
    text-decoration: none;
    position: relative;
    padding-right: 21px;
}
.see-more::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--dark-blue);
    transition: width 0.3s;
}
.see-more i {
    padding-left: 5px;
    position: absolute;
}
.see-more:hover::after,
.see-more:focus::after {
    width: 100%;
    outline: none;
}
.see-more:hover,
.see-more:focus {
    outline: none;
}
